body{
    background-color: #39358e;
    background-image: linear-gradient(rgba(12, 96, 206, 0.9),rgba(73, 76, 224, 0.9)), url("15065619-background-of-asian-currency.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;

}

.maincontainer{
    background-color: #1d2a83;
    position: relative;
    left: 15%;
    right: 15%;
    top:100px;
    width: 70%;
    border-radius: 35px;
    min-height: 200px;
}
h5{
    margin: 0;
    visibility: hidden;

}
h2{
    color: white;
    text-align: center;
    margin-top: 0;
}
.subcontainer{
    position: relative;
    margin:25px 25px;
    margin-bottom: 50px;
}
.col1{
    display: inline-block;
    width: 23%;
    position: relative;
    top:0px,
}
.col2{
    display: inline-block;
    width: 30%;
    margin-left: 1%;

}
.col3{
    display: inline-block;
    width: 30%;
    margin-left:10px ;
}
label{
    color: white;
    font-size: 18px;
}
.icon1{
    display: inline-block;
    position: relative;
    top: 22px;
    left: 5px;
}
.icon2{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 2.5px;
}
input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    color: #39358e;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
    /* border:solid rgba(12, 96, 206, 0.9) ; */
}
::placeholder{
    font-size: 15px;
    color: #39358e;
}
input:focus{
    outline-style: none;
    border: solid orangered 2px;
}
select:focus{
    outline-style: none;
    border: solid orangered 2px;
}
select{
    width: 100%;
    height: 57px;
    border-radius: 10px;
    font-size: 15px;
    color: #39358e;
    text-align: center;
    font-weight: 700;
    text-align-last:center;
    background-color: white;
}

.button{
    background-color: #fcb813;
    height: 53px;
    width: 53px;
    border-radius: 10px;
    cursor: pointer;
}
.button:active{
    outline-style: none;
    background-color: #007fdb;
}
.results{
    position: relative;
    min-height: 200px;
    display: none;
}
.source{
    color: white;
    font-size:25px;
    text-align: center;
}
.target{
    font-size: 55px;
    text-align: center;
    color: white;
}
.rates{
    margin-top: 30px;
    text-align: center;
    color: white;
    color: #e04646;
}

.copy-right{
    position: fixed;
    color: white;
    letter-spacing: 1px;
    top:90%;
    left: 45%;
}

@media only screen and (max-width: 1200px) {
    .maincontainer{
        background-color: #1d2a83;
        position: relative;
        left: 5%;
        right: 5%;
        top:100px;
        width: 90%;
        border-radius: 25px;
        min-height: 200px;
    }

}
@media only screen and (max-width: 1000px) {
    .maincontainer{
        background-color: #1d2a83;
        position: relative;
        left: 1%;
        right: 1%;
        top:100px;
        width: 98%;
        border-radius: 15px;
        min-height: 200px;
    }

    .col1{
        width: 70%;
        left: 15%;
        position: relative;
        top:0px,
    }
    .col2{
        display: inline-block;
        width: 40%;
        margin-left: 5%;
        margin-top: 2%;
    
    }
    .col3{
        display: inline-block;
        width: 40%;
        margin-left:10px ;
         margin-top: 2%;
    }
    .icon2{
        display: block;
        position: static; 
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .icon2 .button {
        width: 50%;
        position: relative;
        left: 25%;
        margin-top: 2%;
    }
    .copy-right{
        position: fixed;
        color: white;
        letter-spacing: 1px;
        top:0%;
        left: 0%;
        position: relative;
        text-align: center;
        margin-top: 20%;
    }

   
    


}


@media only screen and (max-width: 600px) {
    .col1, .col2, .col3{
        margin-left: 0;
        width: 100%;
        margin-top: 25px;
        left:0;
        position: relative;
        
    }

    .icon1 {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;

    }

    .icon1 img{
        transform: rotate(90deg);
        position: relative;
    }

    .icon2 {
        position: relative;
        margin-top: 20px;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 15px;
    }
    
    .icon2 .button {
        width: 100%;
        left:0;
        position: relative;
    }
    .maincontainer{
        border-radius: 10px;
        position: relative;
        top:20px
    }

    .copy-right{
        position: fixed;
        color: white;
        letter-spacing: 1px;
        top:0%;
        left: 0%;
        position: relative;
        text-align: center;
        margin-top: 10%;
    }
  }
